**/do-simple/terraform.tfstate*
**/infra/clusters/terraform.tfstate*
**/typhoon-master/*
**/.terraform/*
**/.idea/*
**/typhoon/*
terraform.tfstate
**/.terraform.tfstate.lock.info
**/terraform.tfstate.backup
