#cloud-config

# Update apt database on first boot (run 'apt-get update').
# Note, if packages are given, or package_upgrade is true, then
# update will be done independent of this setting.
#
# Default: false
# Aliases: apt_update
package_update: true

# Install additional packages on first boot
#
# Default: none
#
# if packages are specified, this apt_update will be set to true
#
# packages may be supplied as a single package name or as a list
# with the format [<package>, <version>] wherein the specifc
# package version will be installed.
packages:
- nfs-kernel-server
- bridge-utils


runcmd:
- mkdir -p /export/files
- chmod 777 /etc/exports /etc/hosts.allow /export/files
- echo "/export/files *(rw,no_root_squash)" >>  /etc/exports
- echo "rspbind = ALL \nportmap = ALL \nnfs = ALL" >> /etc/hosts.allow
- chmod 755 /etc/exports /etc/hosts.allow
- /etc/init.d/nfs-kernel-server restart